@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap");
body {
  background-color: black;
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
}
text {
  fill: white;
}
.widgetWrap {
  background: #2a2a2a;
}
.widgetTitle {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid grey;
  text-align: left;
  text-transform: uppercase;
  padding: 5px 5px;
}
.widgetValue {
  padding-top: 10px;
  padding-bottom: 10px;
}
.widgetValue .value {
  font-size: 50px;
  text-align: left;
  font-weight: 700;
  padding: 0px 7px;
  line-height: 100%;
}
.description {
  text-align: left;
  font-size: 12px;
  padding-left: 13px;
}
.TopHeader.row {
  background: #2a2a2a;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.Dropdown-root drop {
  font-size: 15px;
  width: 142px;
  float: right;
}
.widgetWrap {
  height: 182px;
  margin-bottom: 19px;
}
.widgetValue {
  display: flex;
  align-items: flex-end;
  height: 133px;
  padding-left: 7px;
}
.value {
  color: yellow;
}
.widgetTitle {
  color: #b6b6e3;
}

.widgetWrap {
  height: 182px;
  margin-bottom: 19px;
}
